@model ManageStudentsV2.Models.Nganh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nganh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_nganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_nganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mo_ta_nganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mo_ta_nganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nien_khoa.ten_nien_khoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nien_khoa.ten_nien_khoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_nganh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
