@model PagedList.IPagedList<ManageStudentsV2.Models.Nganh>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách Ngành";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}
<div class="container">

    <div class="headerAdd">
        <h2>Danh sách Ngành</h2>
        <div class="button-add">
            @using (Html.BeginForm())
            {
                <div class="search-form">
                    @Html.TextBox("SearchString", null, new { @class = "search-input", placeholder = "Nhập tên cần tìm..." })
                </div>
            }
            @Html.ActionLink("Xuất Excel", "ExportToExcel", null, new { @class = "btnAdd" })
            @Html.ActionLink("+ Thêm Ngành", "Create", null, new { @class = "btnAdd" })
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Tên Ngành", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>Mô Tả</th>
                <th>Niên Khóa</th>
                <th>Khoa</th>
                <th>Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ten_nganh)</td>
                        <td>@Html.DisplayFor(modelItem => item.mo_ta_nganh)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nien_khoa.ten_nien_khoa)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nien_khoa.Khoa.ten_khoa)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ma_nganh }, new { @class = "btnEdit" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ma_nganh }, new { @class = "btnDelete" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="no-data">Không tìm thấy ngành nào phù hợp.</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <!-- Thêm mã phân trang -->

    @if (Model?.Any() == true)

    {
        <div class="row">

            <div class="col_right"> Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize }))
        </div>
    }
</div>