@model PagedList.IPagedList<ManageStudentsV2.Models.Nganh>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách Ngành";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}

<div class="headerAdd">
    <h2>Danh sách Ngành</h2>
    <div class="button-add">
        @Html.ActionLink("+ Thêm Ngành", "Create", null, new { @class = "btnAdd" })
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Tên Ngành</th>
            <th>Mô Tả</th>
            <th>Niên Khóa</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ten_nganh)</td>
                    <td>@Html.DisplayFor(modelItem => item.mo_ta_nganh)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nien_khoa.ten_nien_khoa)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ma_nganh }, new { @class = "btnEdit" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ma_nganh }, new { @class = "btnDetails" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ma_nganh }, new { @class = "btnDelete" })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="no-data">Không tìm thấy ngành nào phù hợp.</td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col">
        @using (Html.BeginForm("Index", "Nganh", FormMethod.Get))
        {<p> Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" }) </p>}
    </div>
    <div class="col_right"> Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize }))
</div>