@model PagedList.IPagedList<ManageStudentsV2.Models.LichHocViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}


<div class="headerAdd">
    <h2>Danh sách Lịch Dạy</h2>
    <div class="button-add">
        @Html.ActionLink("Xuất Excel", "ExportToExcel", null, new { @class = "btnAdd" })
        @Html.ActionLink("+ Thêm Lịch Học", "Create", null, new { @class = "btnAdd" })
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Thời Gian</th>
            <th>Môn học</th>
            <th>Lớp </th>
            <th>Phòng</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Any() == true)

        {
        foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ThoiGian)</td>
            <td>@Html.DisplayFor(modelItem => item.TenMonHoc)</td>
            <td>@Html.DisplayFor(modelItem => item.TenLopChinh)</td>
            <td>@Html.DisplayFor(modelItem => item.PhongHoc)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaLich }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaLich }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaLich })
            </td>
        </tr>
        }
        }
        else
        {
        <tr>
            <td colspan="5" class="no-data">Không tìm thấy lịch nào phù hợp.</td>
        </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col">
        @using (Html.BeginForm("Index", "Lich_hoc", FormMethod.Get))
        {<p> Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" }) </p>}
    </div>
    <div class="col_right"> Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize }))
</div>

