@model ManageStudentsV2.Models.Giao_vien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}

<div class="create-forms">
    <h2>Bạn Có Chắc Chắn Xóa @Model.ten_giao_vien Này Chứ  ? </h2>
    @if(ViewBag.yeu_cau != null)
    {
        <div class="hacBa">⚠️⚠️⚠️ Yêu Cầu : @ViewBag.yeu_cau</div>   
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="@(ViewBag.yeu_cau == null ? "submit" : "hidden")" value="Xóa" class="btn1" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn2" })
        </div>
    }
</div>