@model ManageStudentsV2.Models.Mon_hoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mon_hoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_mon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_mon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mo_ta_mon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mo_ta_mon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_mon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
