@model ManageStudentsV2.Models.Lop_dang_ky

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Lop_dang_ky</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngay_dk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_dk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoc_sinh.ten_sinh_vien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoc_sinh.ten_sinh_vien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lop_hoc_phan.ma_hoc_phan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop_hoc_phan.ma_hoc_phan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
