<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/styles.css")
    @Styles.Render("~/Content/PagedList.css")
</head>
<body>
    <header>
        <div class="menu">
            <!-- Logo -->
            <a href="@Url.Action("Index", "ManageStudentHome")">
                <img src="https://media.dau.edu.vn/Media/2_SVDAU/Images/dau-csv12982278-5-e.png" alt="dau">
            </a>

            <!-- Đăng Nhập / Đăng Xuất -->
            <div class="Login">
                @if (Session["UserID"] != null)
                {
                    <span>Xin chào @Session["Username"] 👤</span>
                    <a href="@Url.Action("Logout", "Login")">Đăng Xuất</a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Login")">Đăng Nhập</a>
                }
            </div>
        </div>
        @if (Session["UserID"] != null)
        {
            <nav>
                <ul>
                    @if (Session["Role"].ToString() == "Admin")
                    {
                        <nav>
                            <ul>
                                <li><a href="@Url.Action("Index", "Hoc_sinh")">Danh sách Sinh Viên</a></li>
                                <li><a href="@Url.Action("Index", "Lop_Chinh")">Danh Sách Các Lớp</a></li>
                                <li><a href="@Url.Action("Index", "Lop_hoc_phan")">Lớp học phần</a></li>
                                <li><a href="@Url.Action("Index", "Giao_vien")">Danh Sách Các Giáo Viên</a></li>
                                <li><a href="@Url.Action("Index", "Nien_khoa")">Danh Sách Các Niên Khóa</a></li>
                                <li><a href="@Url.Action("Index", "Mon_hoc")">Danh Sách Các Môn Học</a></li>
                                <li><a href="@Url.Action("Index", "Nganh")">Danh Sách Các Ngành</a></li>
                                <li><a href="@Url.Action("Index", "Khoa")">Danh Sách Các Khoa</a></li>
                            </ul>
                        </nav>
                    }

                    @if (Session["Role"].ToString() == "Teacher")
                    {
                        <li><a href="@Url.Action("Index", "Lop_hoc_phan")">Lớp học phần của tôi</a></li>
                        <li><a href="@Url.Action("Index", "Diem")">Nhập điểm</a></li>
                        <li><a href="@Url.Action("Index", "Lich_hoc")">Lịch giảng dạy</a></li>
                    }

                    @if (Session["Role"].ToString() == "Student")
                    {
                        <li><a href="@Url.Action("Index", "Mon_hoc")">Danh sách Môn học</a></li>
                        <li><a href="@Url.Action("Index", "Lop_hoc_phan")">Lớp học phần đã đăng ký</a></li>
                        <li><a href="@Url.Action("Index", "Diem")">Xem điểm</a></li>
                        <li><a href="@Url.Action("Index", "Lich_hoc")">Lịch học</a></li>
                    }
                </ul>
         </nav>          
        }
        </header>
    @RenderBody()

</body>
</html>
